* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}
.login{
    background-image: url('../../assets/images/fundo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.card-cadastro {
    margin-top: 140px;
}

.bg-andy {
    background-color: #7159C6 !important;
    border: none !important;
}

.menssagem{
    margin-top: 10px;
    text-align: center;
}