* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}
.login{
    background-image: url('../../assets/images/fundo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.teste {
    margin-top: 200px;
}

.bg-andy {
    background-color: rgba(175,238,238,0.9) !important;
    border: none;
}

.txt1 {
    text-decoration: none;
    margin-left: 5px;
    color: #000000;
}

.txt1:hover {
    text-decoration: none;
    margin-left: 5px;
    color: #000000;
}

.txt2 {
    text-decoration: none;
    margin-left: 15px;
    color: #000000;
}

.txt2:hover {
    text-decoration: none;
    margin-left: 15px;
    color: #000000;
}

label {
    color: #000000;
}