.corpo {
    background: #f0f0f5;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    overflow: auto;
    padding-left: 310px;
}

.botao {
    margin-right: 10px;
}

.title {
    padding: 10px;
    color: #7159C6;
    font-weight: 900;
}

.subTitulos {
    color: #000000;
}

.bgHead {
    background-color: #7159C6;
    color: #ffffff;
}

.pencilTrash{
    cursor: pointer;
}

.usuarioProfile {
    display: flex;
    background: #ffffff;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.imagemUsuario {
    width: 130px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.nomeSobrenome > span {
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #7159C6;
}