@font-face {
    font-family: Roboto-Regular;
    src: url('../../fonts/Roboto-Regular.ttf'); 
}

@font-face {
    font-family: Caveat-Regular;
    src: url('../../fonts/Caveat-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.header{
    background-image: url('../../assets/images/fundo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.associados {
    margin-left: 85%;
}

.mensagem {
    font-family: Roboto-Regular, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 20px;
    margin-left: 15px;
    text-shadow: 2px 2px 3px #000000;
}

.frase {
    font-family: Caveat-Regular;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    margin-right: 70px;
    text-align: right;
}

.titulo {
    font-family: Caveat-Regular;
    color: #ffffff;
    text-align: center;
}
.service, .info {
    background-color: #7159C6;
    padding-top: 50px;
    padding-bottom: 70px;
    width: 100%;
    height: auto;
}

.services, .infos {
    padding-top: 50px;
    text-align: center;
}

.imagem{
    width: 305px;
    height: 183px;
    border-radius: 10px;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.5);
}

.fundo_card{
    border-radius: 5px 5px 5px 5px;
    width: 90%;
    height: auto;
    margin-left: 13px;
    margin-top: -50px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
}

.titulo_card {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: rgb(126, 10, 126);
}

.titulo_infor, .mensagem_info {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #ffffff;
}

.mensagem_card, .mensagem_info {
    font-family: Roboto-Regular;
    font-size: 15px;
}

.icone {
    font-size: 60px;
    color: #ffffff;
}

.titulo_info {
    font-size: 30px;
}

.mensagem_info {
    font-size: 20px;
}

.rodape {
    background: #000000;
    box-shadow: 0 -10px 10px rgba(225, 2255, 255, 0.502);
    padding-top: 50px;
    padding-bottom: 50px;
    height: 120px;
}

.redes-sociais {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}

.contato {
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}

.direitos {
    text-align: right;
    color: #ffffff;
    font-size: 15px;
    position: relative;
    margin-top: 48px;
}